@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
button {
  font-family: inherit;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.game > *:not(:last-child) {
  margin-bottom: 10px;
}
.board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.board > button {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}
.restart {
  padding: 0.8em 1.6em;
  font-size: 1rem;
}
.moves {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.moves li button {
  width: 100%;
}
